In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/monthly_volume_2023.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20551 entries, 0 to 20550
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Trade Month    20551 non-null  object
 1   Options Class  20551 non-null  object
 2   Underlying     20551 non-null  object
 3   Product Type   20551 non-null  object
 4   Exchange       20551 non-null  object
 5   Volume         20551 non-null  int64
dtypes: int64(1), object(5)
memory usage: 963.5+ KB

In [4]:
df.head()

  Trade Month Options Class Underlying Product Type Exchange  Volume
0     2023/01            2A          A            S     CBOE     276
1     2023/01             A          A            S     CBOE    1575
2     2023/01            AA         AA            S     CBOE   86253
3     2023/01           AAC        AAC            S     CBOE     367
4     2023/01          AAIC       AAIC            S     CBOE      15

In [1]:
2+2

4